<html>

<head>
<title>phoeby</title>
<style type="text/css">
@import url("{{static_url('styles/reset.css')}}");
@import url("{{static_url('styles/menu.css')}}");
@import url("{{static_url('styles/main.css')}}");
</style>

</head>

<body>

<div id="menu">
<ul>
	<li><a href="/">about</a></li>
	<li><a href="/search">search</a></li>
	<li><a href="/api">API</a></li>
</ul>
</div>

<div id="container">
<u>PhoebY</u><br />
A python library which provides web crawling capabilties. Good for web search engines.
Uses breadth-first search.<br />
<br />
About PhoebY<br />
<br />
How to:<br />
1) Change data/setting.phoeby<br />
2) Run gather.py after importing it to your own python file, to crawl according to settings. In
this example, test-gather.py does the crawling job<br />
3) Import app.phoeby to your application
</div>

</body>

</html> 
